body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;

}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

/* Kleuren */

.container{ 
    background: #262E30;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    font-size: 8pt;
    text-align: center ;
     }

.item1 {
        background:  #FFFFFF;
        width: 100px;
        height: 100px;
        margin: 10px;
        }

.item2 {
         background: #1098CC;
         width: 100px;
         height: 100px;
         margin: 10px;
            }
.item3 {
          background: #3E7F99;
          width: 100px;
          height: 100px;
          margin: 10px;
                   }
 .item4 {
         background:#6BBFA0 ;
         width: 100px;
         height: 100px;
         margin: 10px;
         }
.item5 {
         background:#EA5245 ;
         width: 100px;
        height: 100px;
        margin: 10px;
         }

.item6 {
         background:#CD1439 ;
         width: 100px;
         height: 100px;
         margin: 10px;
         }

/* Logo */

.Logo1 {       
    height: 150px;
    margin: 10px; }
    
.Logo2 { 
        background: #262E30;    
        height: 150px;
        margin: 10px; }

.Logo3 {     
    height: 150px;
    margin: 10px; }

.Logo4 { 
        background: #6BBFA0 ;    
        height: 150px;
        margin: 10px; }

/* Iconen */

.Iconen1 {
    height: 250px;
    margin: 10px;
}

.Iconen2 {
    background: #262E30;
    height: 250px;
    margin: 10px;
}

.social{ 
    height:50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-self: auto;
    padding: 20px;
    margin:20px;
}

.I1{margin:10px; }
.I2{margin:10px; }
.I3{margin:10px; }
.I4{margin:10px; }
.P1{margin:5px; }
.P2{margin:5px; }



/* lettertypes */

.Quicksand { 
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
    }
.Regular { font-weight: 400;
            margin:10px; }
.Light {font-weight: 300;
         margin:10px;}
.Medium {font-weight:500;
         margin:10px;}
.Bold {font-weight:700;
         margin:10px;}
.Century{font-family: Century;
         margin:10px;}

/* Indeling tekst */
.container1{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
     }

.list {
    background: #262E30;
    text-align: left;
    margin: 20px;
    max-height: 600px;
    width: 300px;
}


.title1 {
        font-weight: 700;
        color:#CD1439;
        font-size: 18pt;
        padding:10px;
    }

.undertitle1 {
    font-weight: 500;
    color:#FFFFFF;
    font-size: 16pt;
    padding:10px;
}

.tekst1{ 
    font-weight: 400;
    color:#6BBFA0;
    font-size: 14pt;
    padding:10px;
    word-spacing: 1pt;
    margin:10px;} 

.green {
    background: #262E30;
    text-align: left;
    margin: 20px;
    max-height: 600px;
    width: 300px;

}

.title2 {
    font-weight: 400;
    color:#6BBFA0;
    font-size:16pt;
    padding:10px;}

.undertitle2 {
        font-weight: 500;
        color:#FFFFFF;
        font-size: 13pt;
        padding:6px;
        
    }
    
.tekst2{ 
        font-weight: 400;
        color:#6BBFA0;
        font-size: 13pt;
        word-spacing: 1pt; 
        padding: 6px;
    }

.white {
        background: #262E30;
        text-align: left;
        margin: 25px;
        max-height: 700px;
        width: 300px;
    }

.title3 {
    font-weight: 700;
    color:#FFFFFF;
    font-size: 20pt;
    word-spacing: 3px;
    padding:20px;}

.undertitle3 {
        font-weight: 500;
        color:#FFFFFF;
        font-size: 16pt;
        padding: 6px;
    }
    
.tekst3{ 
        font-weight: 400;
        color:#FFFFFF;
        font-size: 12pt;
        padding:5px;
        word-spacing: 1pt;
        margin: 6px;
    }

/* navigatie */
.navigatie { 
    background:#262E30;
    color: white;
    margin: 20px; }


/* header */
.Header {
 height:30px;
 width: 900px;
background: #6BBFA0;
color:#FFFFFF;
font-family: Century, Serif;
font-size: 16pt;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
text-align: left;
align-content: center;
padding:  15px;
border:solid #CD1439 6pt;
}

.home {
    padding: 10px;
}
.agenda {
    padding: 20px;
}
.workshop {
    padding: 20px;
}
.media {
    padding: 20px;
}
.info {
    padding: 20px;
}

.home:hover { color:#CD1439; }
.info:hover { color:#CD1439; }
.agenda:hover { color:#CD1439; }
.workshop:hover {color:#CD1439;}
.media:hover { color:#CD1439; }

.zoeker{
    height: 25px;
    padding: 5px;
}



/* footer */
.Footer {
    height:100px;
    width: 900px;
   background: #6BBFA0;
   color:#FFFFFF;
   font-family: Century, Serif;
   font-size: 10pt;
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
   text-align: left;
   padding:  10px;
   border:solid #CD1439 6pt;
   }

.lijn { border-right: solid #FFFFFF 1px;
        padding: 16px;}

        .home1:hover { color:#CD1439; }
        .info1:hover { color:#CD1439; }
        .agenda1:hover { color:#CD1439; }
        .workshop1:hover {color:#CD1439;}
        .media1:hover { color:#CD1439; }


.Logo5 {
 height: 40px;
 padding: 20px;
 margin-left: 15px;
 margin-right: 20px;
}

.gegevens { 
    font-size: 8pt;
    padding-right:10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.Contact{font-size: 9pt;
font-weight: 400;}

.telefoon{  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-right: 5px;}

.tele {height: 12px;
        padding-right: 5px;
   }

.mail {  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-right: 5px;}

.brief {height: 10px;
    padding-right: 5px;
        }


.Adres{
    font-size: 8pt;
    padding: 5px;
    border-left: solid #FFFFFF 1px;
    text-align: right;
}


/* links en knoppen */

.inschrijf { 
    color:white;
    font-weight: 500;
    font-size: 16pt;
    padding:15px;
    background-color: #CD1439;
    border: solid #CD1439 1px;
    box-shadow: rgba(133, 16, 40, 0.849);}

    .inschrijf:hover { background-color: #6BBFA0; }