body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;

}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

/* Kleuren */

.container{ 
    background: #262E30;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    font-size: 8pt;
    text-align: center ;
     }

.item1 {
        background:  #FFFFFF;
        width: 100px;
        height: 100px;
        margin: 10px;
        }

.item2 {
         background: #1098CC;
         width: 100px;
         height: 100px;
         margin: 10px;
            }
.item3 {
          background: #3E7F99;
          width: 100px;
          height: 100px;
          margin: 10px;
                   }
 .item4 {
         background:#6BBFA0 ;
         width: 100px;
         height: 100px;
         margin: 10px;
         }
.item5 {
         background:#EA5245 ;
         width: 100px;
        height: 100px;
        margin: 10px;
         }

.item6 {
         background:#CD1439 ;
         width: 100px;
         height: 100px;
         margin: 10px;
         }

/* Logo */

.Logo1 {       
    height: 150px;
    margin: 10px; }
    
.Logo2 { 
        background: #262E30;    
        height: 150px;
        margin: 10px; }

.Logo3 {     
    height: 150px;
    margin: 10px; }

.Logo4 { 
        background: #6BBFA0 ;    
        height: 150px;
        margin: 10px; }

/* Iconen */

.Iconen1 {
    height: 250px;
    margin: 10px;
}

.Iconen2 {
    background: #262E30;
    height: 250px;
    margin: 10px;
}

/* lettertypes */

.Regular { font-weight: 400; }
.Light {font-weight: 300;}
.Medium {font-weight:500;}
.Bold {font-weight:700;}
.Century{font-family: Century;}

/* Indeling tekst */

.container2 {background: #262E30;
    justify-content: center;
    align-items: baseline;
    text-align: center }

.title1 {
        font-weight: 700;
        color:#CD1439;
        font-size: 28pt;}

.undertitle1 {
    font-weight: 500;
    color:#FFFFFF;
    font-size: 22pt;
}

.tekst1{ 
    font-weight: 400;
    color:#6BBFA0;
    font-size: 22pt;
}

.title2 {
    font-weight: 400;
    color:#6BBFA0;
    font-size: 25pt;}

.title3 {
    font-weight: 700;
    color:#FFFFFF;
    font-size: 28pt;}
